<div class="px-4 mb-3">
  @switch (this.currentStep.id){
    @case (LOCATION){
      <h1>Where is your next adventure?</h1>
      <app-location-map [location]="searchParams.location" [placeholder]="'Explore destinations'" (locationChange)="onNewLocation($event)">
      </app-location-map>
    }

    @case (DATES){
      <h1>Choose your travel timeframe</h1>
      <app-search-date [dates]="searchParams.dates" (datesChange)="onNewDate($event)" (stepValidityChange)="onValidityChange($event)">
      </app-search-date>
    }

    @case (GUESTS){
      <h1 class="mb-1">Find Your Perfect Home Away From Home</h1>
      <h2 class="mt-0">Specify more details.</h2>
      <app-info-step [infos]="searchParams.infos" (infoChange)="onInfoChange($event)" (stepValidityChange)="onValidityChange($event)">
      </app-info-step>
    }
  }
</div>
<!-- let's implement stepper now -->
<app-footer-step [currentStep]="currentStep" [isAllStepsValid]="isAllStepsValid()" [loading]="loadingSearch"
                 (finish)="search()" (next)="nextStep()" (previous)="previousStep()"></app-footer-step>
