<div class="border-300 border-1 border-round-xl shadow-1 p-4">
  <span class="text-2xl font-bold">
    {{listing().price.value|currency}}
  </span>
  <p-calendar class="max-w-full block mt4" [ngModel]="bookingDates" (ngModelChange)="onDateChange($event)"
              [minDate]="minDate" [inline]="true" [touchUI]="false" [selectOtherMonths]="true" [disabledDates]="bookedDates" selectionMode="range">
  </p-calendar>
  <button [disabled]="!validateMakeBooking()" [class.p-disabled]="!validateMakeBooking()" (click)="onNewBooking()"
          class=" p-button w-full mt-4 justify-content-center"> Confirm Reservation
  </button>

  @if (!this.authService.isAuthenticated()){
    <div class="mt-4 w-full">
      <p-message styleClass="w-full" severity="warn" text="Sign In to Proceed with Booking"></p-message>
    </div>
  }
  <!--This is Separator-->
  <div class="border-1 w-full my-4 border-200 border-solid"></div>

  <div class="total flex justify-content-between font-bold text-lg">
    <div>Total Cost</div>
    <div>{{totalPrice|currency}}</div>
  </div>
</div>
